services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        REQUIREMENTS_FILE: requirements/production.txt   # install dev deps
    container_name: chic_transfer_api
    command: ["/app/docker/entrypoint.sh"]
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env.prod
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: chic_transfer_db
    restart: always
    environment:
      POSTGRES_DB: chic_transfer
      POSTGRES_USER: chic_user
      POSTGRES_PASSWORD: chic_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
